<h1>Minimum Transaction Limit</h1>
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" style="float: right; margin-right: 2%; margin-bottom: 1%;">Set New Limit</button>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Sr.No.</th>
      <th>Amount</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @minimum.each_with_index do |minimum, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= minimum.amount %></td>
        <td><%= minimum.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @minimum %>
    </div>
    <%= will_paginate @minimum, :container => false %>
  </div>
<br>


<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Minimum Limit</h4>
        </div>
        <div class="modal-body">
          <%= form_for :minimum_transactions, url: minimum_transactions_path, method: :post do |f| %>
            <p class="reason">
              <%= f.label :amount %><br>
              <%= f.text_field :amount %>
            </p>
            <p>
              <%= link_to 'Back', minimum_transactions_path, class:"btn btn-info btn-sm" %>
              <%= f.submit "Save", class:"btn btn-info btn-sm" %>
            </p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
