To reset your password click the temporary password given below:
<%= @user.reset_digest %>
This temporary password will expire in two hours.
If you did not request your password to be reset, please ignore this email and
your password will stay as it is.
