<%= form_for :reward, url: rewards_path, method: :post do |form| %>
<%= form.hidden_field :updated_by, value: 'admin' %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(reward.errors.count, "error") %> prohibited this reward from being saved:</h3>

      <ul>
      <% reward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, id: :company_name  %>
  </div>

  <div class="field">
    <%= form.label :company_logo %>
    <%= form.file_field :company_logo, id: :company_logo %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :price %>
  </div>

  <div class="field">
    <%= form.label :offer %>
    <%= form.text_field :offer, id: :offer %>
  </div>

  <div class="field">
    <%= form.label :expiry %>
    <%= form.date_select :expiry, id: :expiry %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :description %>
  </div>

  <div class="field">
    <%= form.label :reward_code %>
    <%= form.text_field :reward_code, id: :reward_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
