<div class='container'>
	<h1>Editing Reward</h1>

	<div class='container'>
  <%= form_for @reward, method: :patch do |form| %>
		<div class="field">
	    <%= form.label :company_name %>
	    <%= form.text_field :company_name, id: :company_name  %>
	  </div>

	  <div class="field">
	    <%= form.label :company_logo %>
	    <%= form.file_field :company_logo, id: :company_logo %>
	  </div>

	  <div class="field">
	    <%= form.label :price %>
	    <%= form.text_field :price, id: :price %>
	  </div>

	  <div class="field">
	    <%= form.label :offer %>
	    <%= form.text_field :offer, id: :offer %>
	  </div>

		<div class="field">
			<%= form.label :expiry %>
			<%= form.date_select :expiry, id: :expiry %>
		</div>

		<div class="field">
			<%= form.label :description %>
			<%= form.text_field :description, id: :description %>
		</div>

		<div class="field">
			<%= form.label :reward_code %>
			<%= form.text_field :reward_code, id: :reward_code %>
		</div>

    <p>
      <%= link_to 'Back', rewards_path, class:"btn btn-info btn-sm" %>
      <%= form.submit "Save", class:"btn btn-info btn-sm" %>
    </p>
  <% end %>
</div>


</div>
