<h1>Rewards Management</h1>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Sr.No.</th>
      <th>Company Name</th>
      <th>Price</th>
      <th>Offer</th>
      <th>Expiry</th>
      <th>Description</th>
      <th>Reward Code</th>
      <th>Reward Status</th>
      <th>Brand Logo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each_with_index do |reward, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= reward.company_name %></td>
        <td><%= reward.price %></td>
        <td><%= reward.offer %></td>
        <td><%= reward.expiry %></td>
        <td><%= reward.description %></td>
        <td><%= reward.reward_code %></td>
        <td><%= reward.reward_status %></td>
        <td><%= image_tag reward.company_logo.url(:thumb) unless reward.company_logo.url.blank? %></td>
        <td><%= button_to 'Edit', edit_reward_path(reward), :method => "get", class: 'btn btn-info btn-sm'%></td>
        <td><%= button_to 'Delete', reward_path(reward), method: :delete, class: 'btn btn-info btn-sm', data: { confirm: 'Are you sure, you want to delete the user?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @rewards %>
    </div>
    <%= will_paginate @rewards, :container => false %>
  </div>
<br>

<%= link_to 'Add Reward', new_reward_path %>
<!-- style:'width:100%;' -->
