<h1>User Management</h1>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Sr.No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.created_at %></td>
        <td><%= button_to 'Delete', user, method: :delete,class: 'btn btn-info btn-sm', data: { confirm: 'Are you sure, you want to delete the user?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, :container => false %>
  </div>
<br>



<%#= link_to 'New User', new_user_path %>
