<div class="wrapper" style="overflow: hidden; height: auto;">
	<!-- Header -->
	<header class="main-header">
		<!-- Logo -->
		<!-- <a href="#" class="sidebar-toggle hidden-lg hidden-md hidden-sm" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a> -->
		<a href="#" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini hide">

			</span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg">
				<%= image_tag 'logo_header.png', class: "img-responsive center-block" %>

			</span>
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle hide" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>
		</nav>
	</header>
	<!-- Header -->
	<aside class="main-sidebar">
		<section class="sidebar" style="height: auto;">
			<!-- Sidebar user panel -->
			<div class="user-panel">
				<div class="pull-left image">
					<%= image_tag 'profile.jpg', class: "img-circle", alt: "User Image" %>
				</div>
				<div class="pull-left info">
					<p>Admin</p>
					<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
				</div>
			</div>
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu">

				<li class="">
					<%= link_to "<i class='fa fa-user'></i> User Management".html_safe, users_path %>
				</li>
				<li class="">
					<%= link_to "<i class='fa fa-pencil-square-o'></i> Minimum Transaction".html_safe, minimum_transactions_path %>
				</li>
				<li class="">
					<%= link_to "<i class='fa fa-barcode'></i> Rewards Management".html_safe, rewards_path %>
				</li>
				<li>
					<%= link_to "<i class='fa fa-sign-out'></i> Sign out".html_safe, destroy_admin_session_path, method: :delete %>
				</li>
				</ul>
			</section>
		</aside>
		<div class="content-wrapper" style="min-height: 428px;">

            <section class="content">
                <div class="box box-default">
			<%= alert %>
			<%= notice %>
			<%= yield %>
		</div>
	</section>
		</div>
		<!-- Footer -->
		<footer class="main-footer">
			Copyright © 2017 <a href="#!">Mobikasa Pvt Ltd</a>. All rights reserved.
		</footer>
		<!-- Footer -->
	</div>
