<div class="misc-wrapper">
  <div class="misc-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4" style="margin-left: 33%;">
          <div class="misc-box">
            <div class="misc-header">
            <%= image_tag("logo", class: "img-responsive center-block", alt: "Logo") %>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{ class: 'login-form', id: 'login-form'}) do |f| %>
              <div class="form-group">
              <label class="text-muted" for="user-name">Email/Username</label>
              <div class="group-icon">
              <%= f.email_field :email, autofocus: true, class: 'form-control', id: "user-name"%>
              <%= fa_icon "envelope", class: "text-muted icon-input" %>
              </div>
              </div>
              <div class="form-group">
                <label class="text-muted" for="password">Password</label>
                <div class="group-icon">
                <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "password" %>
                <%= fa_icon "lock", class: "text-muted icon-input" %>
                </div>
              </div>
              <div class="clearfix">
                <div class="pull-rightl text-center">
                  <%= f.submit "Log in", class: "btn btn-block btn-primary btn-block" %>
                  <div style="margin-top: 15px;display: inline-block;">
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
