@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
.bg-light-dark {
  background-color: rgba(0, 0, 0, 0.1);
}

.white-bg {
  background: #fff;
}

.bg-success {
  background-color: #4CAF50;
}

.border-success {
  border-color: #4CAF50;
}
body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #777;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  overflow-x: hidden;
  background-color: #f5f5f5;
}
.a {
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #56afd7;
}
a:hover, a:focus {
  text-decoration: none;
  outline: 0 !important;
}

a.text-muted:hover {
  color: #23b7e5;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

button:focus {
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-weight: 700;
}

.content-wrapper, .right-side{
  background-color: #fafafa;
}

.content-wrapper, .right-side, .main-footer{
  margin-left: 260px;
}

.main-sidebar, .left-side{
	background-color: #fafafa;
  width: 260px;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title{
  font-weight: 600;
}

.box-body{
  padding: 25px 15px;
}

.form-group{
  margin-bottom: 25px;
}
/************************ Login Page Style *******************************/
.misc-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  background-image: url('pattern.png');
  background-color: #ebeef0;
  background-repeat: repeat;
  padding: 20px 0;
}

.misc-content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: relative;
}

.misc-box {
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 5px;
}

.misc-header {
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
}
.misc-header img{
  max-height: 40px;
}
.pad-v {
    padding: 10px 0;
}

.text-muted {
    color: #909fa7;
}

.group-icon {
    position: relative;
    overflow: hidden;
}

.form-control, input[type="text"], input[type="email"], textarea {
    font-size: 13px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #dde6e9;
    transition-duration: .5s;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
}

label{
	font-weight: normal;
}

.group-icon .form-control {
    padding-right: 40px;
}

.group-icon .icon-input {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 40px;
    text-align: center;
}
.btn{
	border-radius: 0;
}

label.error {
    color: #cc0000;
    display: block;
    margin-top: 5px;
}

.form-control.error {
    border-color: #cc0000;
}

.btn-primary {
  background-color: #eb8b2d;
  border-color: #eb8b2d;
  color: #fff;
}
.btn-primary:hover {
  color: #fff;
  opacity: 0.9;
  background-color: #eb8b2d;
  border-color: #eb8b2d;
}
.btn-primary:focus,.btn-primary:active {
  color: #fff;
  background-color: #eb8b2d;
  border-color: #eb8b2d;
}

/**alerts*/
.alert-danger {
  color: #F44336 !important;
  background-color: transparent !important;
  border-color: #F44336 !important;
}

.alert-warning {
  color: #FF7043;
  background-color: transparent;
  border-color: #FF7043;
}

.alert-info {
  color: #56afd7;
  background-color: transparent;
  border-color: #56afd7;
}

.alert-success {
  color: #4CAF50 !important;
  background-color: transparent !important;
  border-color: #4CAF50 !important;
}

.alert>p, .alert>ul{
	padding-left: 15px;
}

.layout-boxed{
  position: relative;
  background-image: url(../images/pattern.png);
  background-color: #ebeef0;
  background-repeat: repeat;
}

.main-header .logo{
  height: 60px;
  line-height: 60px;
  font-size: 30px;
}

span.logo-lg img {
    max-height: 34px;
    margin-top: 13px;
}

.main-sidebar, .left-side{
  padding-top: 60px;
}
.sidebar-menu .treeview-menu > li > a > .icons,.sidebar-menu  > li > a > .icons{
  width: 20px;
  display: inline-block;
}

.skin-black-light .main-header>.logo{
  border-right: 0;
}
.content-header>h1{
  font-weight: normal;
}

.skin-black-light .treeview-menu>li.active>a {
    font-weight: 600;
    color: #eb8b2d;
}
.label{
  font-weight: normal;
  width: 100px;
  text-align: center;
  font-size: 12px;
  text-transform: capitalize;
  display: block;
  line-height: 1;
  padding: 7px 0px 5px;
  margin: 0 auto;
}
.employee-table td{
  vertical-align: middle !important;
}
.table>tbody>tr>th {
    font-weight: 500;
    color: #000000;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: #777777;
  border-color: #777777;
}
.popover.confirmation {
    width: 260px;
}
.content-header{
  padding-bottom: 15px;
}
.row-table {
  display: table;
  margin: 0;
}

.row-table > [class*=col-] {
  display: table-cell;
  float: none;
  table-layout: fixed;
  vertical-align: middle;
}
.clearfix:after{
  content: " ";
  display: table;
  clear: both;
}
.clearfix:before{
  content: " ";
  display: table;
  clear: both;
}
@media (max-width: 991px){
  .existing-slip tr td:nth-child(4),.existing-slip tr th:nth-child(4){
    display: none;
  }
  ._mobile_center{
    text-align: center;

  }
}
@media (max-width: 767px){
  ._mobile_center .btn{
    margin-bottom: 15px;
    font-size: 12px;
  }
  .main-header .sidebar-toggle {
    color: #eb8b2d !important;
    font-size: 30px;
    position: absolute;
    top: 4px;
  }
  .skin-black-light .main-header>.logo{
    background-color: #ffffff;
  }
  .skin-black-light .main-header .navbar{
    display: none;
  }
  .main-sidebar, .left-side {
      -webkit-transform: translate(-260px, 0);
      -ms-transform: translate(-260px, 0);
      -o-transform: translate(-260px, 0);
      transform: translate(-260px, 0);
  }
  .content-wrapper, .right-side, .main-footer{
    margin-left: 0;
  }
  .content-header {
    padding-bottom: 0px;
  }
  .content-header>h1{
    font-size: 20px;
  }
  .box-body {
    padding: 15px 15px;
  }
  span.logo-lg img {
    max-height: 30px;
    margin-top: 15px;
  }
  ._mobile_div{
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  ._mobile_div_btn{
    margin-bottom: 35px;
    margin-top: 5px;
  }
  ._mobile_div_btn .btn{
    display: block;
    width: 100%;
  }
  .sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer {
    -webkit-transform: translate(260px, 0);
    -ms-transform: translate(260px, 0);
    -o-transform: translate(260px, 0);
    transform: translate(260px, 0);
   }
   .row-table{
    display: block;
   }
   .form-groupp {
    margin-left: -15px;
    margin-right: -15px;
    }
   .row-table > [class*=col-] {
    display: block;
    float: left;
    table-layout: fixed;
    vertical-align: middle;
  }
}
@media (max-width: 479px){
  .existing-slip tr td:nth-child(4),.existing-slip tr th:nth-child(4){
    display: none;
  }
  ._mobile_center .btn {
    margin-bottom: 0px;
    font-size: 12px;
    display: block;
    width: 100%;
  }
}
