<!DOCTYPE html>
<html>
  <head>
    <title>Cryptox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
        <%= render 'shared/nav_bar' %>
      <% else %>
        <%= yield %>
      <% end %>
  </body>
</html>
